/* Pricing Sheet Containers */
@font-face {font-family: BAUHS93; src: local(BAUHS93), url('../fonts/BAUHS93.TTF') format('truetype');}
@font-face {font-family: trebuc; src: local(trebuc), url('../fonts/trebuc.ttf') format('truetype');}


#pricingSheet{position:relative; margin-left:auto; margin-right:auto; margin-top:-500px; width:1000px; height:570px;  background-color:#d9d9d9;}
#pricingSheetSummary{position:relative; margin-left:204px; margin-top:0px; width:796px; height:500px; background-color:#d9d9d9;}
#pricingSheetHead{position:absolute; margin-left:0px; margin-top:2px; width:1000px; height:35px; background : url(../images/pricingSheetHead.png); }

#pricingSheetSelector{position:absolute; margin-left:0px; margin-left:auto; margin-right:auto; margin-top:40px; width:1000px; height:24px;}
#pricingSheetHeadInput{width:326px; height:24px; background-color:#d1d1d1; border:none; color:#535353;}


#pricingSheetPeopleHead{position:relative; margin-left:3px; margin-top:15px; width:486px; height:22px; background-color:#535353;}
#pricingSheetPeopleHeadL2{position:relative; margin-left:3px; margin-top:15px; width:486px; height:22px; background-color:#535353;}

#pricingSheetTR1Body{position:relative; margin-left:0px; margin-top:68px; width:490px; height:200px; background-color:#d1d1d1; border:none;}
#pricingSheetTR2Body{position:relative; margin-left:0px; margin-top:10px; width:490px; height:200px; background-color:#d1d1d1; border:none;}

#pricingSheetListPeopleResource{width:185px; height:18px; background-color:#ececec; border:none; margin-left:0px; margin-top:-3px; text-indent:10px;}
#pricingSheetListPeopleSellRateResource{width:100px; height:18px; background-color:#ececec; border:none; margin-left:-3px; margin-top:-3px; text-indent:10px;}
#pricingSheetListPeopleQuantity{width:60px; height:18px; background-color:#ececec; border:none; margin-left:-3px; margin-top:-3px; text-indent:10px;}
#pricingSheetListPeopleRate{width:117px; height:18px; background-color:#ececec; border:none; margin-left:-3px; margin-top:-3px; text-indent:10px;}
#pricingSheetListPeopleResourceTitle{width:185px; height:18px; background-color:#c0c0c0; border:none; margin-left:0px; margin-top:-3px;}
#pricingSheetListPeopleSellRateResourceTitle{width:100px; height:18px; background-color:#c0c0c0; border:none; margin-left:-3px; margin-top:-3px;}
#pricingSheetListPeopleQuantityTitle{width:60px; height:18px; background-color:#c0c0c0; border:none; margin-left:-3px; margin-top:-3px;}
#pricingSheetListPeopleRateTitle{width:117px; height:18px; background-color:#c0c0c0; border:none; margin-left:-3px; margin-top:-3px;}

#pricingSheetListMaterialResourceTitle{width:185px; height:18px; background-color:#c0c0c0; border:none; margin-left:0px; margin-top:-3px;}
#pricingSheetListMaterialSellRateTitle{width:100px; height:18px; background-color:#c0c0c0; border:none; margin-left:-3px; margin-top:-3px;}
#pricingSheetListMaterialQuantityTitle{width:60px; height:18px; background-color:#c0c0c0; border:none; margin-left:-3px; margin-top:-3px;}
#pricingSheetListMaterialRateTitle{width:117px; height:18px; background-color:#c0c0c0; border:none; margin-left:-3px; margin-top:-3px;}
#pricingSheetListMaterialResourceInput{width:185px; height:18px; background-color:#ececec; border:none; margin-left:0px; margin-top:-3px; text-indent:10px;}
#pricingSheetListMaterialSellRateInput{width:100px; height:18px; background-color:#ececec; border:none; margin-left:-3px; margin-top:-3px; text-indent:10px;}
#pricingSheetListMaterialQuantityInput{width:60px; height:18px; background-color:#ececec; border:none; margin-left:-3px; margin-top:-3px;text-indent:10px;}
#pricingSheetListMaterialRateInput{width:117px; height:18px; background-color:#ececec; border:none; margin-left:-3px; margin-top:-3px;text-indent:10px;}

#pricingSheetListFuelResourceTitle{width:185px; height:18px; background-color:#c0c0c0; border:none; margin-left:0px; margin-top:-3px;}
#pricingSheetListFuelSellRateTitle{width:100px; height:18px; background-color:#c0c0c0; border:none; margin-left:-3px; margin-top:-3px;}
#pricingSheetListFuelQuantityTitle{width:60px; height:18px; background-color:#c0c0c0; border:none; margin-left:-3px; margin-top:-3px;}
#pricingSheetListFuelRateTitle{width:117px; height:18px; background-color:#c0c0c0; border:none; margin-left:-3px; margin-top:-3px;}
#pricingSheetListFuelResourceInput{width:185px; height:18px; background-color:#ececec; border:none; margin-left:0px; margin-top:-3px; text-indent:10px;}
#pricingSheetListFuelSellRateInput{width:100px; height:18px; background-color:#ececec; border:none; margin-left:-3px; margin-top:-3px; text-indent:10px;}
#pricingSheetListFuelQuantityInput{width:60px; height:18px; background-color:#ececec; border:none; margin-left:-3px; margin-top:-3px; text-indent:10px;}
#pricingSheetListFuelRateInput{width:117px; height:18px; background-color:#ececec; border:none; margin-left:-3px; margin-top:-3px; text-indent:10px;}

#pricingSheetListPlantResourceTitle{width:185px; height:18px; background-color:#c0c0c0; border:none; margin-left:0px; margin-top:-3px;}
#pricingSheetListPlantSellRateTitle{width:100px; height:18px; background-color:#c0c0c0; border:none; margin-left:-3px; margin-top:-3px;}
#pricingSheetListPlantQuantityTitle{width:60px; height:18px; background-color:#c0c0c0; border:none; margin-left:-3px; margin-top:-3px;}
#pricingSheetListPlantRateTitle{width:117px; height:18px; background-color:#c0c0c0; border:none; margin-left:-3px; margin-top:-3px;}
#pricingSheetListPlantResourceInput{width:185px; height:18px; background-color:#ececec; border:none; margin-left:0px; margin-top:-3px; text-indent:10px;}
#pricingSheetListPlantSellRateInput{width:100px; height:18px; background-color:#ececec; border:none; margin-left:-3px; margin-top:-3px; text-indent:10px;}
#pricingSheetListPlantQuantityInput{width:60px; height:18px; background-color:#ececec; border:none; margin-left:-3px; margin-top:-3px; text-indent:10px;}
#pricingSheetListPlantRateInput{width:117px; height:18px; background-color:#ececec; border:none; margin-left:-3px; margin-top:-3px; text-indent:10px;}


#pricingSheetLeftFooterBody{position:relative; margin-left:12px; margin-top:1px; width:481px; height:68px;}
#pricingSheetLeftFooterHead{position:relative; margin-left:-3px; margin-top:1px; width:140px; height:25px; background-color:#d1d1d1;}
#pricingSheetLeftFooterInput{position:relative; margin-left:-3px; margin-top:0px; width:140px; height:20px; border: none;/*  background-color:#d1d1d1; */}
#pricingSheetRightFooterBody{position:relative; margin-left:507px; margin-top:-64px; width:481px; height:65px; /* background-color:#d1d1d1; */}

#pricingSheetRightFooterCalculateBtn{position:relative; margin-left:0px; margin-top:-3px; width:200px; height:51px; background-color:#abf2c4; border-radius: 25px;cursor: pointer;}
#pricingSheetRightFooterViewBtn{position:relative; margin-left:0px; margin-top:-3px; width:200px; height:51px; background-color:#535353; border-radius: 25px; cursor: pointer;}
#pricingSheetRightFooterViewBtn:hover{position:relative; margin-left:0px; margin-top:-3px; width:200px; height:51px; background-color:#dc4848; border-radius: 25px}

#pricingSheetRightFooterEmptyBtn{position:relative; margin-left:0px; margin-top:-3px; width:150px; height:45px;  border-radius: 25px;}
#pricingSheetRightViewSummaryBtn{position:relative; margin-left:0px; margin-top:-3px; width:250px; height:45px; background-color:#535353; border-radius: 25px; cursor: pointer;}

#pricingSheetCalculateSuccessAlertBackground{position:absolute; margin-left:auto; margin-right:auto; margin-top:0px; width:1000px; height:500px;  background-color:#abf2c4; opacity:0.95;}
#pricingSheetOkBtn{background-color: #535353; border: none; color: #efefef; height:50px; width:302px; text-align: center; text-decoration: none; display: inline-block; font-size: 30px; cursor: pointer;border-radius: 25px}
#pricingSheetOkBtn:hover{background-color: #3f3f3f; border: none; color: #efefef; height:50px; width:302px; text-align: center; text-decoration: none; display: inline-block; font-size: 30px; cursor: pointer;border-radius: 25px}
#pricingSheetResourceListText{position:relative; text-decoration:none; margin-left:0px; margin-top:2px;  text-align:left; text-indent:10px; 
font-family: trebuc; font-size: 13px; font-weight: normal; color:#535353; margin-bottom:5px;}

#priSheSummaryProAch{position:absolute; margin-left:22px; margin-top:60px; width:750px; height:85px; background-color:#a5a5a5;}
#priSheSummarySelection_Sec{width:245px; height:24px; background-color:#d1d1d1; border:none; color:#535353;}
#priSheSummarySelection_Act{width:245px; height:24px; background-color:#d1d1d1; border:none; color:#535353;}
#priSheSummarySelection_Desc{width:245px; height:24px; background-color:#d1d1d1; border:none; color:#535353;}

#priSheSummaryConfProAchBtn{position:absolute; margin-left:501px; margin-top:0px; width:196px; height:25px; background-color:#535353; border:none; color:#fff;}
#priSheSummaryConfProAchInput{position:absolute; margin-left:701px; margin-top:0px; width:45px; height:23px; border:none; text-indent:10px;}
#priSheSummaryConfProAchBtnC{position:absolute; margin-left:501px; margin-top:27px; width:245px; height:25px; background-color:#d60606; border:none; color:#fff;}

#priSheSummaryProAchTitl{position:relative; margin-left:0px; margin-top:150px; width:185px; height:30px; background-color:#535353;}

#plantAllwInput{position:relative; margin-left:0px; margin-top:00px; width:185px; height:35px; background-color:#f0f0f0; border:none; font-size: 18px; text-indent:8px;}
#peopleAllwInput{position:relative; margin-left:0px; margin-top:00px; width:185px; height:35px; background-color:#f0f0f0; border:none; font-size: 18px; text-indent:8px;}
#matAllwInput{position:relative; margin-left:0px; margin-top:00px; width:185px; height:35px; background-color:#f0f0f0; border:none; font-size: 18px; text-indent:8px;}
#fuelAllwInput{position:relative; margin-left:0px; margin-top:00px; width:185px; height:35px; background-color:#f0f0f0; border:none; font-size: 18px; text-indent:8px;}
