html {background-color:#f1f1f1;}
@font-face {font-family: BAUHS93; src: local(BAUHS93), url('../fonts/BAUHS93.TTF') format('truetype');}
@font-face {font-family: trebuc; src: local(trebuc), url('../fonts/trebuc.ttf') format('truetype');}

a{text-decoration:none;}

/* Home containers */
#head{position:relative; margin-left:auto; margin-right:auto; margin-top:-2px; width:1000px; height:50px;  background-color:#a5a5a5;}
#content1{position:relative; margin-left:auto; margin-right:auto; margin-top:-2px; width:1000px; height:500px;  background-color:#d9d9d9;}
#testTableContent{position:relative; margin-left:auto; margin-right:auto; margin-top:-250px; width:1000px; height:500px;  background-color:#fff; overflow-y: auto;}
#leftSide{position:absolute; margin-left:0px; margin-top:-2px; width:200px; height:498px;  border: 2px solid #a5a5a5; border-style: solid; background-color:#d9d9d9;}
#splash{position:relative; margin-left:204px; margin-top:0px; width:796px; height:500px;  background : url(../images/logo.png); }


/* New Project containers */
#newProject{position:relative; margin-left:204px; margin-top:0px; width:796px; height:500px; background-color:#d9d9d9;}
#proSetupPlane{position:absolute; margin-left:0px; margin-top:-2px; width:200px; height:498px;  border: 2px solid #a5a5a5; border-style: solid; background-color:#d9d9d9;}


/* Project Setup Containers */
#projectSetupHead{position:absolute; margin-left:0.2px; margin-top:10px; width:796px; height:46px; background : url(../images/proSetupHead.png); }
#projectSetupBody{position:absolute; margin-left:95px; margin-top:62px; width:600px; height:300px; background-color:#a5a5a5; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
#proSetupSuccessAlertBackground{position:relative; margin-left:auto; margin-right:auto; margin-top:-350px; width:400px; height:180px;  background-color:#afd5ce; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}


/* Priced Tender Sheet */
#pTenderSheep{position:relative; margin-left:auto; margin-right:auto; margin-top:0px; width:1000px; height:500px;  background-color:#d9d9d9;}
#pTenderSheetHead{position:absolute; margin-left:0px; margin-top:2px; width:1000px; height:35px; background : url(../images/pricingSheetHead.png); }
#pTenderSheetHeadL2{position:relative; margin-left:0px; margin-left:10px; margin-top:1px; width:480px; height:22px; background-color:#535353;}


/* Home buttons */
#newProjectBtn{position:relative; margin-left:auto; margin-right:auto; margin-top:5px; width:160px; height:25px; border: 1px solid #a5a5a5; background-color:#f3f7fa; cursor: pointer;}
#newProjectBtn:hover{position:relative; margin-left:auto; margin-right:auto; margin-top:5px; width:160px; height:25px; border: 1px solid #a5a5a5; background-color:#dde8f0; cursor: pointer;}
#openProjectBtn{position:relative; margin-left:auto; margin-right:auto; margin-top:5px; width:160px; height:25px; border: 1px solid #a5a5a5; background-color:#f3f7fa; cursor: pointer;}
#openProjectBtn:hover{position:relative; margin-left:auto; margin-right:auto; margin-top:5px; width:160px; height:25px; border: 1px solid #a5a5a5; background-color:#dde8f0; cursor: pointer;}


/* New Project buttons */
#proSetupBtn{position:relative; margin-left:auto; margin-right:auto; margin-top:5px; width:160px; height:25px; border: 1px solid #a5a5a5; background-color:#f3f7fa; cursor: pointer;}
#globalDecisionBtn{position:relative; margin-left:auto; margin-right:auto; margin-top:5px; width:160px; height:25px; border: 1px solid #a5a5a5; background-color:#f3f7fa; cursor: pointer;}
#tenForResBtn{position:relative; margin-left:auto; margin-right:auto; margin-top:5px; width:160px; height:25px; border: 1px solid #a5a5a5; background-color:#f3f7fa; cursor: pointer;}
#rawBoqBtn{position:relative; margin-left:auto; margin-right:auto; margin-top:5px; width:160px; height:25px; border: 1px solid #a5a5a5; background-color:#f3f7fa; cursor: pointer;}
#pricingSheetBtn{position:relative; margin-left:auto; margin-right:auto; margin-top:5px; width:160px; height:25px; border: 1px solid #a5a5a5; background-color:#f3f7fa; cursor: pointer;}
#planReportsBtn{position:relative; margin-left:auto; margin-right:auto; margin-top:5px; width:160px; height:25px; border: 1px solid #a5a5a5; background-color:#f3f7fa; cursor: pointer;}
#planReportsBtn{position:relative; margin-left:auto; margin-right:auto; margin-top:5px; width:160px; height:25px; border: 1px solid #a5a5a5; background-color:#f3f7fa; cursor: pointer;}


/* Form Buttons */
#proSetupDoneBtn{background-color: #535353; border: none; color: #efefef; height:25px; width:200px; text-align: center; text-decoration: none; display: inline-block; font-size: 17px; cursor: pointer;}
#proSetupDoneBtn:hover{background-color: #3f3f3f; border: none; color: #efefef; height:25px; width:200px; text-align: center; text-decoration: none; display: inline-block; font-size: 17px; cursor: pointer; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}


#selectBoqType{position:absolute; margin-left:200px; margin-top:100px;}
#importBoqBtn{background-color:#0aaaa4; border: none; color: #535353; height:100px; width:210px; text-align: center; text-decoration: none; display: inline-block; font-size: 25px; cursor: pointer;border-radius: 2px; box-shadow: 0 1px 2px 0 #595959, 0 1px 1px 0 #595959;}
#importBoqBtn:hover{background-color:#a9cfce; border: none; color: #535353; height:100px; width:210px; text-align: center; text-decoration: none; display: inline-block; font-size: 25px; cursor: pointer;border-radius: 2px; box-shadow: 0 1px 2px 0 #595959, 0 1px 1px 0 #595959;}
#manualBoqBtn{background-color:#0aaaa4; border: none; color: #535353; height:100px; width:210px; text-align: center; text-decoration: none; display: inline-block; font-size: 25px; cursor: pointer;border-radius: 2px; box-shadow: 0 1px 2px 0 #595959, 0 1px 1px 0 #595959;}
#manualBoqBtn:hover{background-color:#a9cfce; border: none; color: #535353; height:100px; width:210px; text-align: center; text-decoration: none; display: inline-block; font-size: 25px; cursor: pointer;border-radius: 2px; box-shadow: 0 1px 2px 0 #595959, 0 1px 1px 0 #595959;}

#editProTenderInfoYesBtn{background-color:#bc5166; border: none; color: #535353; height:35px; width:60px; text-align: center; text-decoration: none; display: inline-block; font-size: 15px; cursor: pointer;border-radius: 1px; box-shadow: 0 1px 2px 0 #595959, 0 1px 1px 0 #595959;}
#editProTenderInfoNoBtn{background-color:#51ba99; border: none; color: #535353; height:35px; width:60px; text-align: center; text-decoration: none; display: inline-block; font-size: 15px; cursor: pointer;border-radius: 1px; box-shadow: 0 1px 2px 0 #595959, 0 1px 1px 0 #595959;}



/* Next Buttons */
#proSetupNextBtn{background-color: #535353; border: none; color: #efefef; height:25px; width:100px; text-align: center; text-decoration: none; display: inline-block; font-size: 14px; cursor: pointer;border-radius: 25px}
#proSetupNextBtn:hover{background-color: #3f3f3f; border: none; color: #efefef; height:25px; width:100px; text-align: center; text-decoration: none; display: inline-block; font-size: 14px; cursor: pointer;border-radius: 25px}
#proSetupNextBtnCancel{background-color: #e56464; border: none; color: #efefef; height:25px; width:100px; text-align: center; text-decoration: none; display: inline-block; font-size: 14px; cursor: pointer;border-radius: 25px}
#proSetupNextBtnCancel:hover{background-color: #bc5a5a; border: none; color: #efefef; height:25px; width:100px; text-align: center; text-decoration: none; display: inline-block; font-size: 14px; cursor: pointer;border-radius: 25px}




/* text */
#headText{position:relative; text-decoration:none; margin-left:auto; margin-right:auto; margin-top:00px;  text-align:center; 
font-family: BAUHS93; font-size: 30px; font-weight: normal; color:#535353; margin-bottom:5px;}
#homeBtnText{position:relative; text-decoration:none; margin-left:auto; margin-right:auto; margin-top:5px;  text-align:center; 
font-family: trebuc; font-size: 14px; font-weight: normal; color:#535353; margin-bottom:5px;}
#newProBtnText{position:relative; text-decoration:none; margin-left:auto; margin-right:auto; margin-top:5px;  text-align:center; 
font-family: trebuc; font-size: 14px; font-weight: normal; color:#535353; margin-bottom:5px;}
#proHeadText{position:relative; text-decoration:none; margin-right:20px; margin-top:7px;  text-align:right; 
font-family: trebuc; font-size: 23px; font-weight: normal; color:#535353; margin-bottom:5px;}
#proFormText{position:relative; text-decoration:none; margin-left:5px; margin-top:0px;  text-align:left; 
font-family: trebuc; font-size: 23px; font-weight: normal; color:#535353; margin-bottom:5px;}

#globalDecHeadText{position:absolute; text-decoration:none; margin-left:5px; margin-top:5px;  text-align:center; 
font-family: trebuc; font-size: 13px; font-weight: normal; color:#d1d1d1; margin-bottom:0px;}
#globalDecFormText{position:relative; text-decoration:none; margin-left:5px; margin-top:0px;  text-align:left; 
font-family: trebuc; font-size: 18px; font-weight: normal; color:#535353; margin-bottom:5px;}

#proBoqFormText{position:relative; text-decoration:none; margin-left:5px; margin-top:0px;  text-align:left; 
font-family: trebuc; font-size: 15px; font-weight: normal; color:#535353; margin-bottom:5px;}
#rawBoqHeadText{position:absolute; text-decoration:none; margin-left:5px; margin-top:4px;  text-align:left; 
font-family: trebuc; font-size: 14px; font-weight: normal; color:#d1d1d1; margin-bottom:0px;}
#pricingSheetHeadText{position:relative; text-decoration:none; margin-left:20px; margin-top:4px;  text-align:left; 
font-family: trebuc; font-size: 23px; font-weight: normal; color:#535353; margin-bottom:5px;}
#pSheetTenderHeadText{position:relative; text-decoration:none; margin-left:20px; margin-top:4px;  text-align:left; 
font-family: trebuc; font-size: 23px; font-weight: normal; color:#535353; margin-bottom:5px;}
#pricingSheetResourceHeadText{position:relative; text-decoration:none; margin-left:20px; margin-top:0px;  text-align:left; 
font-family: trebuc; font-size: 17px; font-weight: normal; color:#d1d1d1; margin-bottom:5px;}
#pricingSheetResourceListText{position:relative; text-decoration:none; margin-left:0px; margin-top:0px;  text-align:center; 
font-family: trebuc; font-size: 13px; font-weight: normal; color:#535353; margin-bottom:5px;}
#pricingSheetLeftFooterHeadText{position:absolute; text-decoration:none; margin-left:5px; margin-top:5px;  text-align:left; 
font-family: trebuc; font-size: 13px; font-weight: normal; color:#535353; margin-bottom:5px;}
#pricingSheetCalculateText{position:absolute; text-decoration:none; margin-left:60px; margin-top:12px;  text-align:left; 
font-family: trebuc; font-size: 20px; font-weight: normal; color:#535353; margin-bottom:5px;}
#pricingSheetViewText{position:absolute; text-decoration:none; margin-left:45px; margin-top:12px;  text-align:left; 
font-family: trebuc; font-size: 17px; font-weight: normal; color:#d1d1d1; margin-bottom:5px;}
#rawBoqUpdateListHeadText{position:relative; text-decoration:none; margin-left:5px; margin-top:20px;  text-align:center; 
font-family: trebuc; font-size: 15px; font-weight: normal; color:#d1d1d1; margin-bottom:0px;}
#priSheSummaryHeadText{position:absolute; text-decoration:none; margin-left:5px; margin-top:5px;  text-align:center; 
font-family: trebuc; font-size: 16px; font-weight: normal; color:#d1d1d1; margin-bottom:0px;}
#priSheSummaryAllowTitle{position:absolute; text-decoration:none; margin-left:40px; margin-top:5px;  text-align:center; 
font-family: trebuc; font-size: 16px; font-weight: normal; color:#535353; margin-bottom:0px;}


/* input */ 
#proSetupInput {border: 1px solid #555; width:200px; height:20px; outline: none; text-indent: 10px;}
#proSetupProjectNameInput {border: 1px solid #555; width:200px; height:20px; outline: none; text-indent: 10px;}
#proSetupProjectNumberInput {border: 1px solid #555; width:200px; height:20px; outline: none; text-indent: 10px;}
#proSetupclientNameInput {border: 1px solid #555; width:200px; height:20px; outline: none; text-indent: 10px;}

/* Images */
#centerImage{display: block; margin-left: auto; margin-right: auto;}


